html{
  scroll-snap-type: y mandatory;
}
.App {
  background-color: aqua;
  height: 100vh;
  display: grid;
  place-items: center;
}

.App .videos{
  height: 100%;
  max-height: 800px;
  width: 80%;
  max-width: 500px;
  border: 1px solid white;
  border-radius: 20px;
  overflow: scroll;
  scroll-snap-type: y mandatory;
  position: relative;
}

/* Esconde a scroll bar */

.App .videos::-webkit-scrollbar {
  display: none;
}

.App .videos{
  -ms-overflow-style: none;
  scrollbar-width: none;
}